@font-face {
  font-family: "Alatsi";
  src: url("fonts/Alatsi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Yesteryear";
  src: url("fonts/Yesteryear-Regular.woff2") format("woff2");
}
