@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(170deg, #ffffff, #ffffff, #fff4fc);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #f5f5f5;
    background: linear-gradient(170deg, #000000, #000000, #181715);
  }
}

@layer components {
  /* TODO: improve when design concept will be ready */
  .react-select-container .react-select__control {
    @apply select-bordered bg-base-100 rounded-lg px-2 py-1 text-sm;
  }

  .react-select-container .react-select__control--is-focused {
    @apply select-bordered border-base-300;
  }

  .react-select-container .react-select__menu {
    @apply bg-base-300;
  }

  .react-select-container .react-select__option {
    @apply bg-base-300;
  }

  .react-select-container .react-select__option--is-focused {
    @apply bg-base-100;
  }

  .react-select-container .react-select__input-container,
  .react-select-container .react-select__placeholder,
  .react-select-container .react-select__single-value {
    @apply text-gray-400 font-light;
  }

  .react-select-container .react-select__multi-value {
    @apply bg-primary rounded-md text-neutral;
  }

  .react-select-container .react-select__multi-value__label {
    @apply text-white ml-1;
  }

  /* Inline code */
  .prose code:not(.prose pre code):before,
  .prose code:not(.prose pre code):after {
    content: none;
  }

  .prose code:not(.prose pre code) {
    @apply bg-gray-200 dark:bg-gray-800 p-1 px-2 rounded;
  }

  /* Code block */
  .prose pre:has(code) {
    @apply p-0 rounded;
  }

  @layer components {
    .button {
      @apply btn btn-ghost text-white font-light border-none btn-sm clickable shadow-md sm:btn-wide gradient-accent-light dark:gradient-accent-dark;
    }

    .clickable {
      @apply hover:opacity-70;
    }

    .start-dot::before {
      content: " • ";
      @apply gradient-text font-black mx-1;
    }

    .end-dot::after {
      content: " • ";
      @apply gradient-text font-black mx-1;
    }

    /* buttons, text */
    .gradient-accent-light {
      @apply bg-gradient-to-tr from-purple-500 via-indigo-500 to-sky-300;
    }

    .gradient-accent-dark {
      @apply bg-gradient-to-tr from-purple-500 via-indigo-500 to-sky-700;
    }

    .gradient-text {
      @apply bg-clip-text text-transparent gradient-accent-light;
    }

    /* user card background */
    .gradient-light {
      @apply bg-gradient-to-tr from-rose-50 via-indigo-100 to-sky-100;
    }

    .gradient-dark {
      @apply bg-gradient-to-tr from-slate-700 via-gray-800 to-stone-800;
    }
  }
}
